<div class="container">
  <mat-card class="example-card">
    <mat-card-header>
      <mat-card-title>{{product.title}}
        <div class="card-price">
          <span>{{product.price | currency}}</span>
        </div>
      </mat-card-title>
    </mat-card-header>
    <picture>
      <img mat-card-image src={{product.image}} alt="laptop hp">
    </picture>
    <mat-card-content>
      <p>SSD:{{product.configure.ssd}}</p>
      <p>Memory:{{product.configure.memory}}</p>
      <p>Display:{{product.configure.display}}</p>
    </mat-card-content>
    <mat-card-actions class="card-buttons">
      <button class="card-button" mat-button color="primary" [routerLink]="['/products']">Back to product list</button>
    </mat-card-actions>
  </mat-card>
</div>
