<form [formGroup]="myForm" (ngSubmit)="onSubmit" class="example-form">
  <mat-form-field class="example-full-width">
    <mat-label>Title</mat-label>
    <input matInput formControlName="title">
  </mat-form-field>
  <mat-form-field class="example-full-width">
    <mat-label>Price</mat-label>
    <input matInput formControlName="price">
  </mat-form-field>
  <mat-form-field class="example-full-width">
    <mat-label>Chip</mat-label>
    <input matInput formControlName="chip">
  </mat-form-field>
  <mat-form-field class="example-full-width">
    <mat-label>SSD</mat-label>
    <input matInput formControlName="ssd">
  </mat-form-field>
  <mat-form-field class="example-full-width">
    <mat-label>Memory</mat-label>
    <input matInput formControlName="memory">
  </mat-form-field>
  <mat-form-field class="example-full-width">
    <mat-label>Display</mat-label>
    <input matInput formControlName="display">
  </mat-form-field>
  <div class="form-buttons-wrap">
    <button class="form-button" mat-button color="primary" type="submit" (click)="onSubmit()"
      [disabled]="myForm.invalid"><span>{{isNew? "Add" : "Update"}}</span></button>
    <button class="form-button" mat-button color="primary" type="button" (click)="onNoClick()">
      <span>Сancel</span></button>
  </div>
</form>
