<header>
  <mat-toolbar color="primary">
    <mat-toolbar-row>
      <div class="toolbar no-select" routerLink="">
        <mat-icon class="nav-home"> home </mat-icon>
        <h1>Online shop</h1>
      </div>
      <span class="example-spacer"></span>
      <nav class="toolbar no-select">
        <button class="toolbar button" mat-button routerLink="">Main</button>
        <button class="toolbar button" mat-button routerLink="products">Products</button>
        <button class="toolbar button" mat-button routerLink="basket">Basket</button>
      </nav>
    </mat-toolbar-row>
  </mat-toolbar>
</header>
