<div class="main">
  <div class="context">
    <ol class="list">
      <h2>Getting started:</h2>
      <li>Install JSON Server global <b>`npm install -g json-server`</b></li>
      <li>Install json-server in the project <b>`npm i json-server`</b></li>
      <li>Run json-server with command <b>`json-server --watch db.json`</b>. Navigate to
        <span>`http://localhost:3000`</span>.
      </li>
      <li>
        Run <b>`ng serve`</b> for a dev server. Navigate to <span>`http://localhost:4200/`</span>. The application will
        automatically
        reload if you change any of the source files.
      </li>
    </ol>
  </div>
</div>
