html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.footer {
  position: fixed;
  bottom: 0;
}

.container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  z-index: 0;
}

.card-buttons {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.card-button-menu {
  color: purple;
}
